.common-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .common-card {
        padding: 20px;
        max-width: 100%;
        width: 352px;
        height: 121px;

        border: 1px solid var(--bg-secondary);
        border-radius: 12px;
        transition: .2s ease-in-out;

        &.new-card {
            display: flex;
            justify-content: center;
            align-items: center;

            font-weight: 500;
            font-size: 28px;
            color: var(--bg-secondary);

            &:hover {
                opacity: .4;
                transition: .2s ease-in-out;
            }
        }
    }

    .card-title {
        font-weight: 500;
        font-size: 28px;
        color: var(--font-color);
        margin-bottom: 10px;
    }
}

.create-common-form {
    .form-control {
        padding: 7px 16px;
        width: 397px;
        max-width: 100%;
        font-size: 15px;
        color: var(--font-color);
        background-color: transparent;
        border: 1px solid var(--bg-secondary);
        border-radius: 4px;
        margin-bottom: 20px;

        &.is-invalid {
            border: 1px solid var(--danger-color);
        }

        &::placeholder {
            font-weight: 400;
            font-size: 15px;
            color: var(--placeholder-color);
        }

        &:focus {
            outline: 1px solid rgba(11, 140, 233, 0.5);
        }
    }
}

@media screen and (max-width: 1024px) {
    .common-cards {
        .card-title {
            font-weight: 500;
            font-size: 24px;
            color: var(--font-color);
            margin-bottom: 10px;
        }
    }
}