.layout {
    display: flex;
    height: 100vh;

    .sidebar {
        width: 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--bg-primary);
        border-right: 1px solid var(--bg-secondary);

        .burger {
            display: none;
        }

        .logo {
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid var(--bg-secondary);;

            svg {
                max-width: 120px;
            }
        }

        .sidebar-header {
            .navigation {
                padding: 60px 20px 20px 20px;

                ul {
                    li + li {
                        margin-top: 5px;
                    }
                }

                .navigation-item {
                    border-radius: 5px;
                    padding: 12px;
                    width: 178px;
                    height: 40px;
                    font-weight: 400;
                    font-size: 14px;
                    color: var(--font-color);

                    a {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                    &.active {
                        color: var(--button-fc);
                        background-color: var(--accent);

                        svg path {
                            fill: var(--button-fc);
                        }
                    }
                }

                .navigation-icon {
                    path {
                        fill: var(--accent);
                    }
                }

                .accordion {
                    max-width: 178px;
                    cursor: pointer;

                    .accordion-button {
                        padding: 12px 16px;
                        width: 178px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-weight: 400;
                        font-size: 14px;

                        &.open {
                            color: #FFFFFF;
                            background-color: var(--accent);
                            border-radius: 5px 5px 0 0;

                            svg {
                                transform: rotate(90deg);
                                transition: .3s ease-in-out;

                                path {
                                    fill: var(--button-fc);
                                }
                            }
                        }

                        svg {
                            transition: .3s ease-in-out;

                            path {
                                fill: var(--font-color);
                            }
                        }
                    }

                    .accordion-answer {
                        display: flex;
                        flex-direction: column;
                        box-sizing: border-box;

                        max-height: 0;
                        overflow: hidden;
                        border: 1px solid var(--accent);
                        border-top: none;
                        border-radius: 0 0 5px 5px;
                        transition: .2s ease-in-out;

                        div {
                            &:first-child {
                                border-radius: 0;
                            }

                            &:last-child {
                                border-radius: 0 0 5px 5px;
                            }
                        }
                    }
                }
            }


        }

        .sidebar-footer {
            .balance {
                padding-left: 20px;
                margin-bottom: 20px;

                span {
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--accent);
                }
            }

            .profile {
                position: relative;
                padding: 20px;
                display: flex;
                align-items: center;
                gap: 16px;
                border-top: 1px solid var(--bg-secondary);

                .profile-avatar {
                    position: relative;
                    cursor: pointer;

                    .dropdown-menu {
                        display: none;
                        position: absolute;
                        top: -5px;
                        left: 0;

                        padding: 15px 20px;
                        width: 178px;
                        color: var(--button-fc);
                        background-color: var(--accent);
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    .content {
        padding: 100px 60px;

        .common-title {
            font-weight: 500;
            font-size: 40px;
            color: var(--font-color);
        }
    }
}

@media screen and (max-width: 1024px) {
    .layout {
        .sidebar {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -220px;
            transition: .5s ease-in-out;

            &.open {
                left: 0;
                transition: .5s ease-in-out;
            }


            .burger {
                position: absolute;
                top: 10px;
                right: -50px;

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 40px;
                height: 40px;
                cursor: pointer;

                .burger-line {
                    position: absolute;
                    left: 0;
                    right: 0;
                    height: 3px;
                    border-radius: 10px;
                    background-color: var(--font-color);
                    transition: all 0.3s ease;

                    &:nth-child(1) {
                        top: 10px;
                    }

                    &:nth-child(2) {
                        top: 20px;
                    }

                    &:nth-child(3) {
                        top: 30px;
                    }
                }

                &.open {
                    .burger-line:nth-child(1) {
                        top: 20px;
                        transform: rotate(135deg);
                    }

                    .burger-line:nth-child(2) {
                        opacity: 0;
                    }

                    .burger-line:nth-child(3) {
                        top: 20px;
                        transform: rotate(-135deg);
                    }
                }
            }
        }

        .content {
            padding: 80px 10px;

            .common-title {
                font-weight: 500;
                font-size: 40px;
                color: var(--font-color);
            }
        }

        &.open {
            backdrop-filter: blur(5px);
            background: rgba(0, 0, 0, 0.45);
            transition: .5s ease-in-out;
        }
    }
}