<div class="content">
    <div class="common-title">
        Создание категории доходов
    </div>

    <div class="create-common-form">
        <input type="text" class="form-control" id="incomeCategory" placeholder="Название..." required>
        <div id="name-error" class="error invalid-feedback">*Введите название категории</div>
        <div>
            <button class="button button-success" id="createNewCategory" disabled>Создать</button>
            <a href="#/income" class="button button-danger">Отмена</a>
        </div>
    </div>

</div>