<div class="content">
    <h2 class="common-title">Доходы и расходы</h2>

    <div class="common-cards">
        <div class="card common-card">
            <div class="card-body">
                <h5 class="card-title">Зарплата</h5>
                <a href="#/income/edit-income-category" class="button button-accent">Редактировать</a>
                <button class="button button-danger">Удалить</button>
            </div>
        </div>

        <a href="#/income/create-income-category" class="card common-card new-card" id="add-new-category">
            +
        </a>
    </div>

    <div class="common-popup" id="popup">
        <div class="wrapper">
            <div class="popup-body">
                <div class="popup-text">
                    Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
                </div>
                <button class="button button-success" id="delete">Да, удалить</button>
                <a href="#/income" class="button button-danger" id="cansel">Не удалять</a>
            </div>
        </div>
    </div>
</div>