<div class="content">
    <h2 class="common-title">Доходы</h2>

    <div class="common-cards" id="common-cards">

    </div>

    <div class="common-popup" id="popup">
        <div class="wrapper">
            <div class="popup-body">
                <div class="popup-text">
                    Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
                </div>
                <button class="button button-success" id="delete">Да, удалить</button>
                <a href="#/expenses" class="button button-danger" id="cansel">Не удалять</a>
            </div>
        </div>
    </div>
</div>