<div class="content">
    <h2 class="common-title">Доходы и расходы</h2>

    <div class="budget" id="budget">
        <div class="budget-actions">
            <a href="#/" class="button button-success">Создать доход</a>
            <a href="#/" class="button button-danger">Создать расход</a>
        </div>
        <div class="budget-periods">
            <div class="nav-buttons" id="nav-buttons">
                <button class="button budget-period active" id="all">Все</button>
                <button class="button budget-period" id="today">Сегодня</button>
                <button class="button budget-period" id="week">Неделя</button>
                <button class="button budget-period" id="month">Месяц</button>
                <button class="button budget-period" id="year">Год</button>
                <button class="button budget-period" id="interval">Интервал</button>
            </div>
            <div class="budget-interval">
                <span>с</span>
                <div class="input-element">
                    <input type="date" id="interval-1" disabled>
                </div>
                <span>до</span>
                <div class="input-element">
                    <input type="date" id="interval-2" disabled>
                </div>
            </div>
        </div>
        <p class="error-message" id="isTableEmpty">Операции за выбранный период не найдены</p>
        <div class="budget-records">
            <table class="table" id="table">
                <tr class="table-head">
                    <th>№ операции</th>
                    <th>Тип</th>
                    <th>Категория</th>
                    <th>Сумма</th>
                    <th>Дата</th>
                    <th>Комментарий</th>
                    <th></th>
                </tr>
                <tbody id="records">

                </tbody>
            </table>
        </div>
    </div>

    <div class="common-popup" id="popup">
        <div class="wrapper">
            <div class="popup-body">
                <div class="popup-text">
                    Вы действительно хотите удалить операцию?
                </div>
                <button class="button button-success" id="delete">Да, удалить</button>
                <button class="button button-danger" id="close">Не удалять</button>
            </div>
        </div>
    </div>
</div>