<div class="content">
    <h2 class="common-title">Редактирование дохода/расхода</h2>

    <div class="common-form">
        <div class="form-group">
            <input type="text" class="form-control" id="incomeCategory" placeholder="Доход" required>
            <div id="name-error" class="error invalid-feedback">*Введите название категории</div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="incomeCategory" placeholder="Зарплата" required>
            <div id="name-error" class="error invalid-feedback">*Введите название категории</div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="incomeCategory" placeholder="500$" required>
            <div id="name-error" class="error invalid-feedback">*Введите название категории</div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="incomeCategory" placeholder="11.09.2022" required>
            <div id="name-error" class="error invalid-feedback">*Введите название категории</div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="incomeCategory" placeholder="Комментарий..." required>
            <div id="name-error" class="error invalid-feedback">*Введите название категории</div>
        </div>
        <div class="actions">
            <button class="button button-success" id="updateCategory" disabled>Сохранить</button>
            <a href="#/budget" class="button button-danger">Отмена</a>
        </div>
    </div>
</div>