<div class="content">
    <h2 class="common-title">Расходы</h2>

    <div class="common-cards" id="common-cards">

    </div>


    <div class="common-popup" id="popup">
        <div class="wrapper">
            <div class="popup-body">
                <div class="popup-text">
                    Вы действительно хотите удалить категорию? Связанные расходы будут удалены навсегда.
                </div>
                <button class="button button-success" id="delete">Да, удалить</button>
                <button class="button button-danger" id="close">Не удалять</button>
            </div>
        </div>
    </div>
</div>